* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f9e1f6;
    font-family: 'Rubik', sans-serif;
}

/* -------------NAVBAR-------------- */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #140f07;
    height: auto;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    color: #f9e1f6;
    text-decoration: none;
    font-size: 20px;
}

.navbar-logo__size {
    width: 100px;
}

.link a {
    color: #f9e1f6;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
}

a:hover {
    color: #585ab5;
}

.img {
    width: 100%;
    height: 500px;
    background: url(/assets/img.png) no-repeat center center/cover;
}

.img-h1 {
    text-align: center;
    padding: 150px;
    font-size: 100px;
    color: #140f07;
}

/* -----------------PRIMERA SECCIÓN------------------ */

.sectionOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding: 50px 0;
}

.one-container {
    height: 200px;
    margin: 50px;
}

.one-container__h2 {
    color: #585ab5;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.one-container__h3 {
    color: #242756;
    font-size: 2rem;
}

.two-container {
    height: 200px;
    margin: 50px;
}

.two-container__h3 {
    color: #140f07;
    padding-top: 55px;
    font-size: 1.2rem;
}

/* -----------------SEGUNDA SECCIÓN-------------------- */

.sectionTwo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon i {
    padding: 10px;
    font-size: 100px;
    color: #a097fc;
    cursor: pointer;
}

.icon p {
    padding: 10px;
    font-size: 1.5rem;
    color: #585ab5;
}

/* --------------TERCERA SECCIÓN------------------- */

.sectionThree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.arrow {
    display: flex;
    align-items: center;
    width: 20%;
}

.arrow i {
    background: #242756;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
    color: #a097fc;
    cursor: pointer;
}

.arrow i:hover {
    color: #f9e1f6;
}

.arrow p {
    color: #242756;
    font-size: 1.2rem;
}

/* ------------CUARTA SECCIÓN------------ */

.sectionFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding: 50px 0;
    align-items: center;
}

.four-container {
    height: 200px;
    margin: 50px;
}

.four-container__h2 {
    color: #585ab5;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.four-container__h3 {
    color: #242756;
    font-size: 2rem;
}

.four-container p {
    padding-top: 30px;
    font-size: 1.2rem;
    color: #242756;
}

.four-container__img img{
    width: 95%;
    height: auto;
}

/* ---------QUINTA SECCIÓN------------ */

.sectionFive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* -------SEXTA SECCIÓN------------- */

.sectionSix{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding: 20px 0;
    align-items: center;
}

.six-container{
    width: 90%;
    height: 200px;
    margin: 50px;
}

.six-container__h2{
    color: #585ab5;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.six-container__h3{
    color: #242756;
    font-size: 2rem;
}

.six-container__black{
    color: #140f07;
    padding-top: 55px;
    font-size: 1.2rem;
}

.six-container__blue{
    color: #242756;
    padding-top: 20px;
    font-size: 1.2rem;
}

/* -------SÉPTIMA SECCIÓN------------*/

.sectionSeven{
    width: 100%;
}

.sectionSeven{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}

.seven-container__img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 20%;
}

.seven-container__img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.seven-container__img a{
    text-decoration: none;
    color: #242756;
    font-size: 1.2rem;
    padding-top: 10px;
}

.seven-container__img p {
    color: #585ab5;
    font-size: 1.2rem;
    padding-top: 10px;
}

.seven-container__img img:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

/* -------OCTAVA SECCIÓN--------- */

.sectionEight{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* --------NOVENA SECCIÓN---------- */

.sectionNine{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding: 30px 0;
    align-items: center;
}

.nine-container {
    width: 90%;
    height: 200px;
    margin: 50px;
}

.nine-container__h2{
    color: #585ab5;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.nine-container__h3{
    color: #242756;
    font-size: 2rem;
}

.nine-container p{
    padding-top: 50px;
    font-size: 1.2rem;
    color: #242756;
}

/* ----DÉCIMA SECCIÓN------ */

.sectionTen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* -------ONCEAVA SECCIÓN-------- */
.sectionEleven{
    padding-bottom: 50px;
}

.eleven-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eleven-container img{
    width: 200px;
    color:rgb(175, 173, 173);
    padding: 20px;
}

.eleven-container p{
    color: #242756;
    font-size: 1.5rem;
    width: 10%;
}

/* ------DOCEAVA SECCIÓN------- */
.sectionTwelve{
    padding-bottom: 50px;
}

.twelve-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.twelve-container img{
    width: 200px;
    padding: 20px;
}

.twelve-container p{
    color: #242756;
    font-size: 1.5rem;
    width: 10%;
}

/* -----TERCEAVA SECCIÓN---------- */

.sectionThirteen h2{
    text-align: left;
    padding-top: 100px;
    padding-left: 50px;
    color:#242756;
}

.thirteen-container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding: 50px 0;
}

.thirteen-container__img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 20%;
}

.thirteen-container__img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.thirteen-container__img a{
    text-decoration: none;
    color: #242756;
    font-size: 1.2rem;
    padding-top: 10px;
}

.thirteen-container__img p {
    color: #585ab5;
    font-size: 1.2rem;
    padding-top: 10px;
}

.thirteen-container__img img:hover{
    /* filter: opacity(.5); */
    -webkit-transform:scale(1.3);transform:scale(1.3);
    filter: grayscale(80%);
}

/* <!-- -------CATORCEAVA SECCIÓN---------- --> */
.sectionFourteen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.arrow {
    display: flex;
    align-items: center;
    width: 20%;
}

.arrow i {
    background: #242756;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
    color: #a097fc;
    cursor: pointer;
}

.arrow i:hover {
    color: #f9e1f6;
}

.arrow p {
    color: #242756;
    font-size: 1.2rem;
}




